<%- include("layouts/header") %>
  </head>
  <body class="d-flex justify-content-center align-items-center" style="height:100%">
    <div class="container center-content">
      Hi
    </div>
  </body>
</html>