{
  "presets": [
    [
      "@babel/env", {
        "corejs": 3,
        "useBuiltIns": "usage",
        "targets": "> 0.25%, not dead"
      }
    ],
    "@babel/react",
    "@babel/typescript"
  ]
}