  <%- include("layouts/header") %>
  <link rel="stylesheet" href="sidebar.css">
  <script src="/socket.io/socket.io.js"></script>

</head>
<body>
  <div id="root"></div>
  <script src="bundle.js"></script>
</body>
</html>