.input-group>.input-group-prepend.login {
  flex: 0 0 20%;
}
.input-group .input-group-text {
  width: 100%;
}
.full {
  height: 100%;
}
.btn-large.btn-block.big {
  font-size: 2.5em;
  height: 40vh;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance:textfield;
}
.col-8.h3 {
  margin-bottom: 0px;
}
.arrowheadPath {
  fill: white !important;
}
.path {
  stroke: white !important; 
}
.poll {
  padding: 0.25rem 1.5rem;
}
.poll > .dropdown-item {
  display: initial;
}